/* Centrado del contenedor principal */
.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    background-image: url('https://hkairportshop.com/media/catalog/category/electronic-category-banner-new-color-resize-1_3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
  
  /* Estilos del título */
  .product-details-title {
    font-size: 2rem;
    font-weight: bold;
    color: #4a564b;
    margin-bottom: 20px;
  }
  
  /* Estilos del precio */
  .product-details-price {
    font-size: 1.5rem;
    color: #1b1daa;
    margin-bottom: 10px;
  }
  
  /* Estilos de la descripción */
  .product-details-description {
    font-size: 1.2rem;
    color: #0d1d16;
    max-width: 600px;
    line-height: 1.6;
  }
  