.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('https://www.marinabaysands.com/content/dam/marinabaysands/guides/luxurious-indulgence/tech-gifts/masthead-d.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    padding: 20px;
  }
  
  .homepage-title {
    font-size: 3 rem ;
    font-weight: bold;
    color: #907c7c;
    margin-bottom: 10 px;
    text-transform: uppercase;
    text-align: center;
    
  }
  
  .homepage-subtitle {
    font-size: 1.5rem;
    color: #715d4e;
    text-align: center;
    max-width: 600px;
    font-style: normal;

  }

